<%= turbo_frame_tag 'new_step' do %>
  <div class="d-flex justify-content-center align-items-center mb-2">
    <%= render_which_partial('instructions/form') do %>
      <%= render partial: 'instructions/form' %>
    <% end %>
  </div>
<% end %>