<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark mb-4" data-bs-theme="dark">
    <div class='container-fluid'>
        <p class='logo-name'><%= t('navbar.title') %><p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class='collapse navbar-collapse' id="navbar-toggler" style="width:15%;">
        <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item">
                <%= link_to t('navbar.login'), new_session_path, class: 'nav-link mx-2' %>
            </li>
            <li class="nav-item">
                <%= link_to t('navbar.signin'), root_path, class: 'nav-link mx-2' %>
            </li>
        </ul>
    </div>
</nav>