<div class='card-custom'>
    <div class='border-top-radius card-header text-center' style="background-color:#4a7de9; color:white; border-radius: 15px 15px 0 0;">
        <h2><%= t('edit.ingredients.list') %></h2>      
    </div>
    <div class='card-body text-bg-light d-flex justify-content-center' style='border-radius: 0 0 15px 15px; color:white'>
    </div>
</div>