<div class='d-flex justify-content-center align-items-center'>
    <div class='row w-75'>
        <div class='col'>
            <%= render partial: 'recipes/shared/form_recipe' %>
        </div>
        <div class='col'>
            <%= render partial: 'ingredients/shared/form_ingredient' %>
        </div>
    </div>
</div>