<div class='d-flex justify-content-center align-items-center'>
    <div class='row w-75'>
        <div class='col'>
          <%= render_which_partial("recipes/shared/new_recipe") do %>
            <%= render partial: 'recipes/shared/new_recipe' %>
          <% end %>
        </div>
    </div>
</div>